body {
    background-color: orange;
    margin-left: 250px;
}

.un {
    color: green;
}

.deux {
    color:  #FFFFFF;
}


.eye, span {
    text-decoration: underline; 
}

#flowers {
    color: red; 
}
	
ul.navbar {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 150px;
}

ul.navbar li {
    margin: 5px 0;
    padding: 5px;
    border-right: 1px solid #17252a;
    border-top: 1px solid #17252a;
    border-left: 10px solid #17252a;
    border-bottom: 1px solid #17252a;
    text-align: center;
    vertical-align: text-top;
}
